html, body {
	margin: 0;
	padding: 0;
}

div.header {
	height: 450px;
	background-image: url("../images/header_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.header_logo {
	height: 100px;
}

p.title {
	margin: 0;
	padding: 30px 0 0 30px;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 26px;
	color: white;
}

div.nav {
	height: 100px;
}

div.nav ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
	height: 100px;
}

div.nav ul li {
	display: inline-block;
	color: white;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
	padding: 0 5px 0 5px;
}