<!DOCTYPE html>

<html lang="en">

<body>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.

      function initMap() {
        var chus = {lat: 45.3602005, lng: -71.8538586};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: chus
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">chus</h1>'+
            '<div id="bodyContent">'+
            '<p><b>chus</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and chus are the two major '+
            'features of the chus - Kata Tjuta National Park. chus is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. chus is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: chus, <a href="https://en.wikipedia.org/w/index.php?title=chus&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=chus</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: chus,
          map: map,
          title: 'chus (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIx9jDMxj-c2Q91NqhiYSD-tALJc60bJw&callback=initMap">
    </script>
  </body>
</html>

</body>

</html>
